<img src="Logo.png" width="100" align="left"/> 

# <center> Unit 3 Project </center>
#  <center> Third section : supervised task </center>

In this notebook you will be building and training a supervised learning model to classify your data.

For this task we will be using another classification model "The random forests" model.

Steps for this task: 
1. Load the already clustered dataset 
2. Take into consideration that in this task we will not be using the already added column "Cluster" 
3. Split your data.
3. Build your model using the SKlearn RandomForestClassifier class 
4. classify your data and test the performance of your model 
5. Evaluate the model ( accepted models should have at least an accuracy of 86%). Play with hyper parameters and provide a report about that.
6. Provide evidence on the quality of your model (not overfitted good metrics)
7. Create a new test dataset that contains the testset + an additional column called "predicted_class" stating the class predicted by your random forest classifier for each data point of the test set.

## 1. Load the data and split the data:

In [104]:
from sklearn.ensemble import RandomForestClassifier
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import precision_score, accuracy_score, confusion_matrix, classification_report

In [70]:
# To-Do:  load the data 
df = pd.read_csv('clustered_HepatitisC.csv')
df.head()

,ID,Age,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,Category_encoded,Sex_encoded,cluster
0,1,32,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0,0,1,3
1,2,32,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5,0,1,3
2,3,32,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3,0,1,3
3,4,32,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7,0,1,3
4,5,32,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7,0,1,3

In [72]:
# To-Do : keep only the columns to be used : all features except ID, cluster 
# The target here is the Category column 
# Do not forget to split your data (this is a classification task)
# test set size should be 20% of the data 

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df, df['Category_encoded'], test_size=0.2, random_state=42)
test_df = X_test

X = df.drop(['ID', 'Category_encoded', 'cluster'], axis=1)
y = df['Category_encoded']

#scaler = StandardScaler()
#X_sc = scaler.fit_transform(X,y)

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
#X_test
test_df

,ID,Age,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,Category_encoded,Sex_encoded,cluster
248,249,55,28.1,65.5,16.6,17.5,2.8,5.58,4.39,65.0,26.2,62.4,0,1,3
365,366,39,31.4,106.0,16.6,17.0,2.4,5.95,5.30,68.0,22.9,72.3,0,0,3
432,433,48,43.7,50.1,17.3,26.3,8.1,8.15,5.38,64.0,13.4,73.1,0,0,3
610,611,62,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5,4,0,2
132,133,44,35.5,81.7,27.5,29.5,6.4,8.81,6.65,83.0,24.1,68.0,0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,282,61,45.9,73.3,17.1,24.3,4.8,10.01,4.95,88.0,23.5,70.8,0,1,3
291,292,63,45.3,71.3,16.6,24.1,5.7,8.92,4.69,81.0,19.8,73.7,0,1,3
250,251,55,41.5,59.5,15.4,16.2,6.8,6.35,5.22,80.0,12.4,69.9,0,1,3
11,12,33,46.4,68.2,10.3,20.0,5.7,7.36,4.30,79.0,18.7,68.6,0,1,3
336,337,34,41.9,47.4,20.8,28.5,8.0,7.66,4.61,97.0,11.2,71.9,0,0,3

## 2. Building the model and training and evaluate the performance:

In [73]:
# To-do build the model and train it 
# note that you will be providing explanation about the hyper parameter tuning 
# So you will be iterating a number of times before getting the desired performance

# Create a Random Forest Classifier
# Hyperparameters to consider:
 - n_estimators: The number of trees in the forest.
 - max_depth: Maximum depth of the trees in the forest.
 - min_samples_split: The minimum number of samples required to split an internal node.
 - min_samples_leaf: The minimum number of samples required to be at a leaf node.
 - criterion: The function to measure the quality of a split. 'gini' for Gini impurity or 'entropy' for information gain.

## Training accuracy

In [101]:
for n in range(2, 30):
  model = RandomForestClassifier(n_estimators=n, max_depth=10, min_samples_split=4, min_samples_leaf=1, criterion='entropy', random_state=2)
  model.fit(X_train, y_train)
  y_pred = model.predict(X_train)
  print("n = ", n, "Accuracy = ", accuracy_score(y_train, y_pred))

n =  2 Accuracy =  0.975609756097561
n =  3 Accuracy =  0.9898373983739838
n =  4 Accuracy =  0.9857723577235772
n =  5 Accuracy =  0.9857723577235772
n =  6 Accuracy =  0.9898373983739838
n =  7 Accuracy =  0.991869918699187
n =  8 Accuracy =  0.9898373983739838
n =  9 Accuracy =  0.991869918699187
n =  10 Accuracy =  0.9979674796747967
n =  11 Accuracy =  0.9939024390243902
n =  12 Accuracy =  1.0
n =  13 Accuracy =  0.9979674796747967
n =  14 Accuracy =  0.9959349593495935
n =  15 Accuracy =  0.9959349593495935
n =  16 Accuracy =  0.9959349593495935
n =  17 Accuracy =  0.9959349593495935
n =  18 Accuracy =  0.9939024390243902
n =  19 Accuracy =  0.9959349593495935
n =  20 Accuracy =  0.9979674796747967
n =  21 Accuracy =  1.0
n =  22 Accuracy =  1.0
n =  23 Accuracy =  0.9959349593495935
n =  24 Accuracy =  1.0
n =  25 Accuracy =  0.9959349593495935
n =  26 Accuracy =  0.9959349593495935
n =  27 Accuracy =  0.9979674796747967
n =  28 Accuracy =  0.9979674796747967
n =  29 Accuracy =  0.9979674796747967

## Test accuracy

In [102]:
for n in range(2, 30):
  model = RandomForestClassifier(n_estimators=n, max_depth=10, min_samples_split=4, min_samples_leaf=1, criterion='entropy', random_state=2)
  model.fit(X_train, y_train)
  y_pred = model.predict(X_test)
  print("n = ", n, "Accuracy = ", accuracy_score(y_test, y_pred))

n =  2 Accuracy =  0.8211382113821138
n =  3 Accuracy =  0.8536585365853658
n =  4 Accuracy =  0.8292682926829268
n =  5 Accuracy =  0.8617886178861789
n =  6 Accuracy =  0.8780487804878049
n =  7 Accuracy =  0.8943089430894309
n =  8 Accuracy =  0.8617886178861789
n =  9 Accuracy =  0.8780487804878049
n =  10 Accuracy =  0.8617886178861789
n =  11 Accuracy =  0.8617886178861789
n =  12 Accuracy =  0.8699186991869918
n =  13 Accuracy =  0.8699186991869918
n =  14 Accuracy =  0.8780487804878049
n =  15 Accuracy =  0.8780487804878049
n =  16 Accuracy =  0.8780487804878049
n =  17 Accuracy =  0.8780487804878049
n =  18 Accuracy =  0.8780487804878049
n =  19 Accuracy =  0.8780487804878049
n =  20 Accuracy =  0.8617886178861789
n =  21 Accuracy =  0.8780487804878049
n =  22 Accuracy =  0.8780487804878049
n =  23 Accuracy =  0.8699186991869918
n =  24 Accuracy =  0.8617886178861789
n =  25 Accuracy =  0.8699186991869918
n =  26 Accuracy =  0.8699186991869918
n =  27 Accuracy =  0.8699186991869918
n =  28 Accuracy =  0.8699186991869918
n =  29 Accuracy =  0.8699186991869918

# Accuracy & overfitting

- Hyperparameters adjusted, looped on n_estimators to try different values
- Training accuracy of .99 with n=7, and a test accuracy of 0.89
- Test accuracy peaks at n=7, then reduces and oscilates - likely to be overfitting above n=7 
- A perfect treaining accuracy at n=12 so overfitting

In [106]:
model = RandomForestClassifier(n_estimators=7, max_depth=10, min_samples_split=4, min_samples_leaf=1, criterion='entropy', random_state=2)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [107]:
# To-do : evaluate the model in terms of accuracy and precision 
# Provide evidence that your model is not overfitting 

# Evaluate models
print("\nRandom Forest:")
print("Test Accuracy:", accuracy_score(y_test, y_pred))
print("Test Precision:", precision_score(y_test, y_pred, average='weighted'))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

Random Forest:
Test Accuracy: 0.8943089430894309
Test Precision: 0.9010840108401084
Confusion Matrix:
 [[96  0  0  0  0]
 [ 2  1  0  0  0]
 [ 6  0  2  1  0]
 [ 3  0  0  3  0]
 [ 1  0  0  0  8]]
Classification Report:
               precision    recall  f1-score   support

           0       0.89      1.00      0.94        96
           1       1.00      0.33      0.50         3
           2       1.00      0.22      0.36         9
           3       0.75      0.50      0.60         6
           4       1.00      0.89      0.94         9

    accuracy                           0.89       123
   macro avg       0.93      0.59      0.67       123
weighted avg       0.90      0.89      0.87       123

> Hint : A Perfect accuracy on the train set suggest that we have an overfitted model So the student should be able to provide a detailed table about the hyper parameters / parameters tuning with a good conclusion stating that the model has at least an accuracy of 86% on the test set without signs of overfitting

## 3. Create the summary test set with the additional predicted class column: 
In this part you need to add the predicted class as a column to your test dataframe and save this one

In [108]:
test_df['Predicted_class'] = y_pred
test_df

,ID,Age,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,Category_encoded,Sex_encoded,cluster,Predicted_class
248,249,55,28.1,65.5,16.6,17.5,2.8,5.58,4.39,65.0,26.2,62.4,0,1,3,0
365,366,39,31.4,106.0,16.6,17.0,2.4,5.95,5.30,68.0,22.9,72.3,0,0,3,0
432,433,48,43.7,50.1,17.3,26.3,8.1,8.15,5.38,64.0,13.4,73.1,0,0,3,0
610,611,62,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5,4,0,2,4
132,133,44,35.5,81.7,27.5,29.5,6.4,8.81,6.65,83.0,24.1,68.0,0,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,282,61,45.9,73.3,17.1,24.3,4.8,10.01,4.95,88.0,23.5,70.8,0,1,3,0
291,292,63,45.3,71.3,16.6,24.1,5.7,8.92,4.69,81.0,19.8,73.7,0,1,3,0
250,251,55,41.5,59.5,15.4,16.2,6.8,6.35,5.22,80.0,12.4,69.9,0,1,3,0
11,12,33,46.4,68.2,10.3,20.0,5.7,7.36,4.30,79.0,18.7,68.6,0,1,3,0
336,337,34,41.9,47.4,20.8,28.5,8.0,7.66,4.61,97.0,11.2,71.9,0,0,3,0

In [109]:
# To-Do : create the complete test dataframe : it should contain all the feature column + the actual target and the ID as well  
test_df

,ID,Age,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,Category_encoded,Sex_encoded,cluster,Predicted_class
248,249,55,28.1,65.5,16.6,17.5,2.8,5.58,4.39,65.0,26.2,62.4,0,1,3,0
365,366,39,31.4,106.0,16.6,17.0,2.4,5.95,5.30,68.0,22.9,72.3,0,0,3,0
432,433,48,43.7,50.1,17.3,26.3,8.1,8.15,5.38,64.0,13.4,73.1,0,0,3,0
610,611,62,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5,4,0,2,4
132,133,44,35.5,81.7,27.5,29.5,6.4,8.81,6.65,83.0,24.1,68.0,0,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,282,61,45.9,73.3,17.1,24.3,4.8,10.01,4.95,88.0,23.5,70.8,0,1,3,0
291,292,63,45.3,71.3,16.6,24.1,5.7,8.92,4.69,81.0,19.8,73.7,0,1,3,0
250,251,55,41.5,59.5,15.4,16.2,6.8,6.35,5.22,80.0,12.4,69.9,0,1,3,0
11,12,33,46.4,68.2,10.3,20.0,5.7,7.36,4.30,79.0,18.7,68.6,0,1,3,0
336,337,34,41.9,47.4,20.8,28.5,8.0,7.66,4.61,97.0,11.2,71.9,0,0,3,0

In [110]:
test_df.head()

,ID,Age,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,Category_encoded,Sex_encoded,cluster,Predicted_class
248,249,55,28.1,65.5,16.6,17.5,2.8,5.58,4.39,65.0,26.2,62.4,0,1,3,0
365,366,39,31.4,106.0,16.6,17.0,2.4,5.95,5.30,68.0,22.9,72.3,0,0,3,0
432,433,48,43.7,50.1,17.3,26.3,8.1,8.15,5.38,64.0,13.4,73.1,0,0,3,0
610,611,62,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5,4,0,2,4
132,133,44,35.5,81.7,27.5,29.5,6.4,8.81,6.65,83.0,24.1,68.0,0,1,3,0

In [111]:
# To-Do : Add the predicted_class column 

test_df

,ID,Age,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,Category_encoded,Sex_encoded,cluster,Predicted_class
248,249,55,28.1,65.5,16.6,17.5,2.8,5.58,4.39,65.0,26.2,62.4,0,1,3,0
365,366,39,31.4,106.0,16.6,17.0,2.4,5.95,5.30,68.0,22.9,72.3,0,0,3,0
432,433,48,43.7,50.1,17.3,26.3,8.1,8.15,5.38,64.0,13.4,73.1,0,0,3,0
610,611,62,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5,4,0,2,4
132,133,44,35.5,81.7,27.5,29.5,6.4,8.81,6.65,83.0,24.1,68.0,0,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,282,61,45.9,73.3,17.1,24.3,4.8,10.01,4.95,88.0,23.5,70.8,0,1,3,0
291,292,63,45.3,71.3,16.6,24.1,5.7,8.92,4.69,81.0,19.8,73.7,0,1,3,0
250,251,55,41.5,59.5,15.4,16.2,6.8,6.35,5.22,80.0,12.4,69.9,0,1,3,0
11,12,33,46.4,68.2,10.3,20.0,5.7,7.36,4.30,79.0,18.7,68.6,0,1,3,0
336,337,34,41.9,47.4,20.8,28.5,8.0,7.66,4.61,97.0,11.2,71.9,0,0,3,0

In [112]:
test_df.head()

,ID,Age,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,Category_encoded,Sex_encoded,cluster,Predicted_class
248,249,55,28.1,65.5,16.6,17.5,2.8,5.58,4.39,65.0,26.2,62.4,0,1,3,0
365,366,39,31.4,106.0,16.6,17.0,2.4,5.95,5.30,68.0,22.9,72.3,0,0,3,0
432,433,48,43.7,50.1,17.3,26.3,8.1,8.15,5.38,64.0,13.4,73.1,0,0,3,0
610,611,62,32.0,416.6,5.9,110.3,50.0,5.57,6.30,55.7,650.9,68.5,4,0,2,4
132,133,44,35.5,81.7,27.5,29.5,6.4,8.81,6.65,83.0,24.1,68.0,0,1,3,0

> Make sure you have 16 column in this test set

In [113]:
# Save the test set 
test_df.to_csv("test_summary.csv")